@page "/"


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        Vítej @context.User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value
    </Authorized>
    <NotAuthorized>
        prosim prihlas se.
    </NotAuthorized>
</AuthorizeView>
